In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.Timestamp("9/1/2019 10:05AM")

Timestamp('2019-09-01 10:05:00')

In [3]:
pd.Timestamp(2019, 12, 20, 0 ,0)

Timestamp('2019-12-20 00:00:00')

In [4]:
pd.Timestamp(2019, 12, 20, 0 ,0).isoweekday()

5

In [6]:
pd.Timestamp(2019, 12, 20, 0 ,0, 23).second

23

In [7]:
pd.Period('1/2016')

Period('2016-01', 'M')

In [8]:
pd.Period('3/5/2016')

Period('2016-03-05', 'D')

In [9]:
pd.Period('1/2016')+5

Period('2016-06', 'M')

In [10]:
pd.Period('3/5/2016')-2

Period('2016-03-03', 'D')

In [15]:
t1 = pd.Series(list('abc'), [pd.Timestamp('2016-09-01'), pd.Timestamp('2016-09-02'), pd.Timestamp('2016-09-03')])

In [16]:
t1

2016-09-01    a
2016-09-02    b
2016-09-03    c
dtype: object

In [17]:
type(t1.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [18]:
t2 = pd.Series(list('def'), [pd.Period('2016-09'), pd.Period('2016-10'), pd.Period('2016-11')])

In [19]:
t2

2016-09    d
2016-10    e
2016-11    f
Freq: M, dtype: object

In [20]:
type(t2.index)

pandas.core.indexes.period.PeriodIndex

In [26]:
# Now, let's look into how to convert to Datetime. Suppose we have a list of dates as strings and we want to
# create a new dataframe

# I'm going to try a bunch of different date formats
d1 = ['2 June 2013', 'Aug 29, 2014', '2015-06-26', '7/12/16']

# And just some random data
ts3 = pd.DataFrame(np.random.randint(10, 100, (4,2)), index=d1,
                   columns=list('ab'))
ts3

               a   b
2 June 2013   80  16
Aug 29, 2014  24  45
2015-06-26    19  49
7/12/16       91  48

In [27]:
ts3

               a   b
2 June 2013   80  16
Aug 29, 2014  24  45
2015-06-26    19  49
7/12/16       91  48

In [28]:
# Using pandas to_datetime, pandas will try to convert these to Datetime and put them in a standard format.

ts3.index = pd.to_datetime(ts3.index)
ts3

ValueError: time data "Aug 29, 2014" doesn't match format "%d %B %Y", at position 1. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [29]:
pd.Timestamp('9/3/2016')-pd.Timestamp('9/5/2016')

Timedelta('-2 days +00:00:00')