Source Material: https://ds1.datascience.uchicago.edu/10/1/causality.html

In [31]:
import pandas as pd

covid = pd.read_csv("/Users/guywinfield/PycharmProjects/Data/Statistics/simpsons_paradox_covid.csv")

covid.head()

  age_group vaccine_status outcome
0  under 50     vaccinated   death
1  under 50     vaccinated   death
2  under 50     vaccinated   death
3  under 50     vaccinated   death
4  under 50     vaccinated   death

In [32]:
outcome_vax_table = covid.groupby(["vaccine_status","outcome"]).count().rename(columns={"age_group":"counts"})

# There are 151052 unvaccinated patients and 117114 vaccinated patients in the dataset
outcome_vax_table["proportion"] = outcome_vax_table['counts'] / [151052, 151052, 117114, 117114]
outcome_vax_table

                         counts  proportion
vaccine_status outcome
unvaccinated   death        253    0.001675
               survived  150799    0.998325
vaccinated     death        481    0.004107
               survived  116633    0.995893

In [33]:
age_vax_table = covid.groupby(["age_group","vaccine_status"]).count().rename(columns={"outcome":"counts"})

# There are 30747 patients over 50 and 237419 patients under 50 in the dataset
age_vax_table["proportion"] = age_vax_table['counts'] / [30747, 30747, 237419, 237419]
age_vax_table

                          counts  proportion
age_group vaccine_status
50 +      unvaccinated      3440    0.111881
          vaccinated       27307    0.888119
under 50  unvaccinated    147612    0.621736
          vaccinated       89807    0.378264

In [34]:
covid['counter'] = 1 # Create this fourth variable since we will be grouping on all other variables
conditioned = covid.groupby(["age_group","vaccine_status","outcome"]).count()


conditioned["proportion"] = conditioned['counter'] / [3440, 3440, 27307, 27307, 147612, 147612, 89807, 89807]
conditioned

                                   counter  proportion
age_group vaccine_status outcome
50 +      unvaccinated   death         205    0.059593
                         survived     3235    0.940407
          vaccinated     death         460    0.016845
                         survived    26847    0.983155
under 50  unvaccinated   death          48    0.000325
                         survived   147564    0.999675
          vaccinated     death          21    0.000234
                         survived    89786    0.999766

In [36]:
covid['counter'] = 1 # Create this fourth variable since we will be grouping on all other variables
conditioned = covid.groupby(["age_group","vaccine_status","outcome"]).count()


conditioned["proportion"] = conditioned['counter'] / [3440, 3440, 27307, 27307, 147612, 147612, 89807, 89807]
conditioned

                                   counter  proportion
age_group vaccine_status outcome
50 +      unvaccinated   death         205    0.059593
                         survived     3235    0.940407
          vaccinated     death         460    0.016845
                         survived    26847    0.983155
under 50  unvaccinated   death          48    0.000325
                         survived   147564    0.999675
          vaccinated     death          21    0.000234
                         survived    89786    0.999766

In [37]:
collider = covid.groupby(["outcome","age_group","vaccine_status"]).count()

collider["proportion"] = collider['counter'] / [665, 665, 69, 69, 30082, 30082, 237350, 237350]
collider

                                   counter  proportion
outcome  age_group vaccine_status
death    50 +      unvaccinated        205    0.308271
                   vaccinated          460    0.691729
         under 50  unvaccinated         48    0.695652
                   vaccinated           21    0.304348
survived 50 +      unvaccinated       3235    0.107539
                   vaccinated        26847    0.892461
         under 50  unvaccinated     147564    0.621715
                   vaccinated        89786    0.378285

# Sampling

In [39]:
import numpy as np

np.random.seed(1890)

marbles = ["red", "blue", "yellow", "green", "brown"]

np.random.choice(marbles)

np.str_('brown')

In [40]:
np.random.seed(123)

marbles = ["red", "blue", "yellow", "green", "brown"]

np.random.choice(marbles)

np.str_('yellow')

In [41]:
marbles = ["red", "blue", "yellow", "green", "brown"]

np.random.choice(marbles, p=[0.5, 0.5, 0, 0, 0])

np.str_('red')

In [42]:
marbles = ["red", "blue", "yellow", "green", "brown"]

np.random.choice(marbles, size=4)

array(['blue', 'green', 'yellow', 'green'], dtype='<U6')

In [43]:
marbles = ["red", "blue", "yellow", "green", "brown"]

np.random.choice(marbles, size=4, replace=False)

array(['green', 'red', 'brown', 'yellow'], dtype='<U6')

# Biais

In [45]:
import numpy as np

np.random.seed(1890)

truth = np.random.choice(["Yes", "No"], 100, p=[0.3, 0.7])
flip1 = np.random.choice(["Heads", "Tails"], 100)
flip2 = np.random.choice(["Heads", "Tails"], 100)

In [46]:
reported = truth.copy()

reported[(flip1 == "Tails") & (flip2 == "Heads")] = "Yes"
reported[(flip1 == "Tails") & (flip2 == "Tails")] = "No"

sum(reported == "Yes") / 100

np.float64(0.43)

In [47]:
sum(truth == "Yes") / 100

np.float64(0.27)

Based on the coinflips about half of the participants responded truthfully. We also know that about a quarter of the participants falsely responded “yes” and a quarter falsely responded “no”. Therefore, if we call the chance of someone truthfully responding “yes”
, the chance of seeing a response of “yes” (truthful or not truthful) is


. Solving for
 the chance of a truthful yes is

.

In [48]:
2 * (sum(reported == "Yes") / 100) - (1 / 2)

np.float64(0.36)